body {
    font-family: monospace, 'Courier New', Courier, monospace;
    margin: 0;
    padding: 5px;
    background-color: #000;
    color: #0d0;
  }
  
  .console {
    background-color: #000;
    padding: 3px;
    border-radius: 5px;
    white-space: pre-wrap;
    line-height: 0.3
  }
  
  .console-line {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
  }
  
  .console-line:before {
    content: "$ ";
    color: #0f0;
  }
  
  .console-line span {
    margin-left: 5px;
  }

  .console-line.output:before {
    content: "  ";
    color: #f00;
  }

  .console-line.comment {
    color: #0aa;
    display: flex;
    align-items: left;
    margin-bottom: 10px;
  }

  .console-line.comment:before {
    content: "# ";
    color: #0ff;
  }

  .console-line.error:before {
    content: "x ";
    color: #f00;
  }
  
  .console-line.info:before {
    content: "i ";
    color: #ff0;
  }

  .resizable-text-block {
    border: 1px solid #ccc; /* Add a border for better visualization */
    width: 70%; /* Set an initial width for the block */
    min-height: 80px; /* Set a minimum height for the block */
    padding: 10px; /* Add padding for better appearance */
    resize: both; /* Allows resizing in both horizontal and vertical directions */
    overflow: auto; /* Add scrollbars if the text overflows the container */
    word-wrap: break-word; /* Wraps long words if needed */
    overflow-wrap: break-word; /* Wraps text within the container */
  }

  .code-text-block {
    border: 1px solid #ccc; /* Add a border for better visualization */
    width: 70%; /* Set an initial width for the block */
    min-height: 80px; /* Set a minimum height for the block */
    padding: 10px; /* Add padding for better appearance */
    resize: both; /* Allows resizing in both horizontal and vertical directions */
    overflow: auto; /* Add scrollbars if the text overflows the container */
    white-space: nowrap; /* Prevent text from wrapping */
  }
